img{
width:45px;
}
BODY{
	background-color:RED;
	FONT-FAMILY:aRIAL;
	
}

.RED{
	color:GREEN;
	
}

.BIG{
	font-size:55PX;
}

#SPECIAL_STYLE{
	border:2PX SOLID RED;
	background-color:GREEN;
	width:50%;
}
#test{
	border:2PX SOLID RED;
	background-color:GREEN;
	width:50%;
}
